* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #FFF
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(46, 46, 46);
}

form {
    max-width: 400px;
    width: 100%;
    padding: 30px 20px;
    border-radius: 6px;
    background-color: rgb(34, 34, 34);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.719);
}

form label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
}

.error {
    color: red;
    font-size: 13px;
    margin-top: 5px;
}

form input {
    width: 100%;
    padding: 8px;
    background-color: rgb(34, 34, 34);
    border: none;
    border-bottom: 1px solid #00ff1541;
}

form > div {
    margin-bottom: 18px;
}

button {
    width: 100%;
    padding: 16px 0;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #00ff15;
    transition: all ease .4s;
}

button:hover {
    background-color: #03740c;
}

