* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(233, 233, 233);
}

h1 {
    margin-bottom: 30px;
    font-size: 50px;
}

form {
    margin-bottom: 30px;
}

form input, button {
    padding: 8px;
    font-size: 30px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

form button {
    font-weight: 700;
    background-color: rgb(233, 233, 233);
    cursor: pointer;
    transition: all ease .4s;
}

button:hover {
    background-color: rgb(196, 196, 196);
}

li {
    font-size: 28px;
    cursor: pointer;
    margin-bottom: 8px;
}

.finalizada {
    text-decoration: line-through;
}